<ion-header>

  <ion-navbar>
    <ion-title>{{ mode }} Recipe</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
    <ion-list inset>
      <ion-item>
        <ion-label stacked>Title</ion-label>
        <ion-input
          type="text"
          formControlName="title"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label stacked>Description</ion-label>
        <ion-textarea formControlName="description"></ion-textarea>
      </ion-item>

      <ion-item>
        <ion-label stacked>Difficulty</ion-label>
        <ion-select formControlName="difficulty">
          <ion-option *ngFor="let option of selectOptions"
          [value]="option"> {{ option }}</ion-option>
        </ion-select>
      </ion-item>
    </ion-list>

    <div text-center>
    <button type="button" ion-button outline round color="dark" block (click)="addManageRecipe()">Manage Ingredient</button>
    </div>

    <ion-list inset formArrayName="ingredients">
      <ion-item *ngFor="let igControl of recipeForm.get('ingredients').controls; let i = index">
        <ion-label stacked>Ingredient</ion-label>
        <ion-input type="text" [formControlName]="i" ></ion-input>
      </ion-item>
    </ion-list>
    <button type="submit" ion-button round block color="dark"> {{ mode }} Recipe</button>
  </form>
</ion-content>
